.img-thumbnail img {
    width: 100%;
    
}

.img-thumbnail{
    padding: 0;
}
.x{
    padding: 9px;
}
.jumbotron{
    /* background-image: url("https://images.unsplash.com/photo-1526491109672-74740652b963?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"); */
    background-size: cover;
    margin-top:20px;
    padding:2rem;
}
.obj-inline{
    display: inline;
}
#delete-comment{
    display: inline;
}
.navb{
    padding-left: 150px;
    padding-right: 150px;
      
}
.jumbotron{
    text-align: center;
}
a.navbar-brand.h1{
   margin: 0 ;
}
nav ul li a{
    color: rgb(58, 161, 58);
}
.user-head{
    font-size: 1.2rem;
}
.img-circle{
    border-radius: 10%;
}
.profile-picture
{
    width:40px;
    height:40px;
    border-radius:50%;
  
}
a.icon-style{
    text-decoration: none; 
    color: inherit;
}
.user-span{
    padding:6px;
    margin-left:10px;
    font-weight: 600;
}
.user-subhead{
    font-weight: 600;
}
i{
    font-size: x-large;
}
.page-style{
    margin:30px auto ;
    padding : 30px;
     padding-bottom: 0;
}
.text-center{
    text-align: center;
    margin-top: 20px;
}
.form-style{
    width: 30%; 
    margin:25px auto;
}
.auth-style{
    width: 18rem;
    margin:25px auto;
}
.rating{
    font-size: 40px;
    color: grey;
}
/* Rating of Campground */
/* .rating-system{
    margin-top:25px;
}
#rating-head{
    margin: 0;
} */
.text-center {text-align:center;}

#rating a {
  color: tomato;
  text-decoration: none;
}

#rating a:hover {
  color: #2196f3;
}

#rating pre {
display: block;
padding: 9.5px;
margin: 0 0 10px;
font-size: 13px;
line-height: 1.42857143;
color: #333;
word-break: break-all;
word-wrap: break-word;
background-color: #F5F5F5;
border: 1px solid #CCC;
border-radius: 4px;
}

#rating .header {
  padding:20px 0;
  position:relative;
  margin-bottom:10px;
  
}

#rating .header:after {
  content:"";
  display:block;
  height:1px;
  background:#eee;
  position:absolute; 
  left:30%; right:30%;
}

#rating .header h2 {
  font-size:3em;
  font-weight:300;
  margin-bottom:0.2em;
}

#rating .header p {
  font-size:14px;
}

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;
    
    -moz-user-select:none;
    -webkit-user-select:none;
  }
  .rating-stars ul > li.star {
    display:inline-block;
    
  }
  
  /* Idle State of the stars */
  .rating-stars ul > li.star >label i.fa {
    font-size:2.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
  }
  
  /* Hover state of the stars */
  .rating-stars ul > li.star.hover > li label.fa {
    color:#FFCC36;
  }
  
  /* Selected state of the stars */
  .rating-stars ul > li.star.selected >label i.fa {
    color:#FF912C;
  }
  
#rating-form input{
    visibility: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}
.bg{ 
    background-color: #f8f9fa!important;
    padding : 5px;
    margin-top: 5px;
}
.review{
    background: green; color : white;padding: 0 5px;
}
.all-review{
    padding :5px;
}
.same-line{
    display: inline;
}
.page-styles{
    margin-top: 4rem;
}

/* Card  */
#ind .card{
    height: 300px;
    width: 250px;
    margin: 5px;
}
#ind.card img{
    height: 200px;
    width: 100%;
}
.form-st{
    border: 1px solid black;
}
@media (max-width: 690px) {
    .navb{
        padding-left:0 ;
        padding-right:0;
    }
}
